@charset "UTF-8";
.e1, .e2 {
  opacity: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate3D(-50%, 0, 0);
  transform: translate3D(-50%, 0, 0); }

.e1 {
  top: 30px; }

.e2 {
  top: 50px; }

/*active为当前页面呈现时加上的触发类*/
.active .e1,
.active .e2 {
  -webkit-animation: e-show .5s linear forwards;
  animation: e-show .5s linear forwards; }

.active .e1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.active .e2 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

@-webkit-keyframes e-show {
  0% {
    opacity: 0.2;
    -webkit-transform: translate3D(-20px, 0, 0);
    transform: translate3D(-20px, 0, 0); }
  90% {
    opacity: 1;
    -webkit-transform: translate3D(5px, 0, 0);
    transform: translate3D(5px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3D(0px, 0, 0);
    transform: translate3D(0px, 0, 0); } }

@keyframes e-show {
  0% {
    opacity: 0.2;
    -webkit-transform: translate3D(-20px, 0, 0);
    transform: translate3D(-20px, 0, 0); }
  90% {
    opacity: 1;
    -webkit-transform: translate3D(5px, 0, 0);
    transform: translate3D(5px, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3D(0px, 0, 0);
    transform: translate3D(0px, 0, 0); } }
